*.dSYM/
.zig-cache
.DS_Store
.zig-cache
*.plist/
build/**
memtest.js
.sandbox/javascript/**.js

# For tsc on linux (in case of missing root permissions)
package.json
package-lock.json
node_modules/
source/*.o